body{
  margin:0;
  overflow:hidden;
  background:black;
  font-family:Arial;
  color:white;
}

.top{
  position:absolute;
  width:100%;
  text-align:center;
  top:20px;
  z-index:10;
}

h1{
  color:pink;
  text-shadow:0 0 20px pink;
}

button{
  padding:12px 25px;
  font-size:18px;
  border:none;
  background:hotpink;
  color:white;
  border-radius:10px;
  cursor:pointer;
}

button:hover{
  background:deeppink;
}

#letter{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:white;
  color:black;
  padding:30px;
  border-radius:20px;
  width:300px;
  text-align:center;
  transition:0.6s;
  z-index:20;
}

#letter.show{
  transform:translate(-50%,-50%) scale(1);
}
